# editorconfig.org

#### Global ####

root = true

# All files:
[*]
charset = utf-8
indent_style = tab
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

#### Data types ####

# YAML files:
[*.{yml,yaml}]
indent_size = 2

# Xml files:
[*.xml]
indent_size = 2

# csproj file:
[*.csproj]
indent_size = 2
